extends include/layout
append sharedVars
    - const pageUrl = '/';
    - const pageTitle = 'Товар';
    - const bodyAdditionClass = '';
    - const pageAdditionClass = 'main-page';
block content
    section.container-card
        div.main
            div.main__charbox 
                div.main__tree 
                    a(href='#') коллекция
                    img(src="../images/card/sizearrow.png", alt="")
                    a(href='#') бамбук
                    img(src="../images/card/sizearrow.png", alt="")
                    a(href='#') брюки
                div.main__item-title
                    div.main__title
                        div.main__title-favour
                            h4.main__title Бамбуковые брюки
                            a(href='#')
                                img(src="../images/card/heart.png")
                        h4.main__title 2000P
                div.main__plate
                    p.main__plate-text Бесплатная доставка от 5000 рублей
                img.main__pic#main-pic(src="../images/card/images1.jpg", alt="")
                    //- a.left(href="#")
                    //-     img(src="../images/card/sizearrow.png", alt="")
                div.main__size
                    span  Размер
                    div.main__size-container
                        a.main__size-item(href="#")
                            span xs
                        a.main__size-item(href="#")
                            span s
                        a.main__size-item(href="#")
                            span m
                        a.main__size-item(href="#")
                            span l
                        a.main__size-item(href="#")
                            span xl
                    a(href="#").main__size-check
                        span Узнать размер
                        img(src="../images/card/sizearrow.png", alt="") 
                div.main__color
                    span Цвет
                    div.main__color-pick
                        a(href="#", onclick='pinkClick()')
                            img(src="../images/card/Ellipse1.png", alt="")
                        a(href="#" onclick='whiteClick()')
                            img(src="../images/card/Ellipse2.png", alt="")
                        a(href="#" onclick='brownClick()')
                            img(src="../images/card/Ellipse3.png", alt="")
                        a(href="#" onclick='blackClick()')                       
                            img(src="../images/card/Ellipse4.png", alt="")
                a(href="#").main__buy-button
                    span.main__buy-text Купить
                    img(src="../images/card/sizearrow.png", alt="")
                 
                div.main__description 
                    div.main__description-container
                        div.main__description-item
                            h4.main__descripton-title описание
                            img(src="../images/card/sizearrow.png", alt="")
                        p.main__description-text Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam, dicta adipisci harum reiciendis eos magni ad facere ipsa, est sequi ratione quia ex quod! Facere, alias explicabo? Numquam, totam temporibus.
                        div.main__description-item 
                            h4 таблица размеров
                            img(src="../images/card/sizearrow.png", alt="")
                        div.main__description-item 
                            h4 параметры модели
                            img(src="../images/card/sizearrow.png", alt="")
                        div.main__description-item 
                            h4 уход за изделием
                            img(src="../images/card/sizearrow.png", alt="")
                                            
            div.images
                div.images__content
                    img#main-pic(src="../images/card/images1.jpg", alt="")
                    img(src="../images/card/images2.jpg", alt="")
                    img(src="../images/card/images3.jpg", alt="")
                    img(src="../images/card/images4.jpg", alt="")
    section.like
        h2.like__title Вам также может понравиться
        div.like__container
            div.like__item
                img(src="../images/card/like1.jpg", alt="")
                h3.like__item-title Пижама
                span.like__item-text 2000 P
            div.like__item.like__item-hide
                img(src="../images/card/like2.jpg", alt="")
                h3.like__item-title Пижама
                span.like__item-text 2000 P
            div.like__item.like__item-hide
                img(src="../images/card/like3.jpg", alt="")
                h3.like__item-title Пижама
                span.like__item-text 2000 P