a {
    text-decoration: none;
}
body {
    background: #FFE2E2;
}
.container-card {
    margin: 0 auto;
    width: 80%;
}
.main {
    display: flex;
    width: 100%;
    &__charbox {
    width: 50%;
    // position: fixed;    
    }
    
    &__tree {
        width: 60%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__tree a {
        font-family: Rubik;
        font-style: normal;
        font-weight: bold;
        font-size: 12px;
        line-height: 90%;
        letter-spacing: 0.2em;
        color: #313131; 
        margin: 5px;       
    }
    &__title-favour {
        width: 281px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        
        .main__title {
            font-family: Cormorant Unicase;
            font-style: normal;
            font-weight: normal;
            font-size: 30px;
            line-height: 100%;
            text-align: center;
            letter-spacing: -0.02em;
            color: #313131;
            display: block;
        }
    
    }
    &__item-title {
        margin-top: 31px;
        .main__title {
            font-family: Cormorant Unicase;
            font-style: normal;
            font-weight: normal;
            font-size: 30px;
            line-height: 100%;
            letter-spacing: -0.02em;
            color: #313131;
            display: block;
            margin: 0;
        }
    }

    &__plate {
        width: 289px;
        height: 40px;
        background: #FFE2E2;
        border: 2px solid #FFB0B0;
        box-sizing: border-box;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 35px;
        
        .main__plate-text {
            font-family: Rubik;
            font-style: normal;
            font-weight: bold;
            font-size: 10px;
            line-height: 90%;
            letter-spacing: 0.2em;
            color: rgba(49, 49, 49, 0.8);
        }
    }
    &__pic {
        display: none;
    }

    &__size {
        display: flex;
        height: 75px;
        justify-content: space-between;
        flex-direction: column;
        margin-top: 40px;

        span {
            font-family: Rubik;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 70%;
            letter-spacing: 0.05em;
            color: rgba(49, 49, 49, 0.6);
        }

        .main__size-container {
            display: flex;
            width: 175px;
            justify-content: space-between;
        }
        .main__size-check {
            display: flex;
            justify-content: space-between;
            width: 123px;
            span{
                width: 110px;
            }
            img {
                height: 11px;
            }
        }
    }

    &__color {
        display: flex;
        width: 226px;
        height: 72px;
        margin-top: 41px;
        flex-direction: column;
        span {
            font-family: Rubik;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 70%;
            letter-spacing: 0.05em;
            color: rgba(49, 49, 49, 0.6);
        }
        .main__color-pick {
            max-width: 200px;
            height: 34px;
            display: flex;
            justify-content: space-between;
            margin-top: 10px;

            a {
                display: block;
                img {
                    width: 30px;
                }
            }
        }
    }
    &__buy-button {
        max-width: 240px;
        height: 60px;
        background: #FFB0B0;
        display: flex;
        justify-content: center;
        align-items: center;

        .main__buy-text {
            font-family: Rubik;
            font-style: normal;
            font-weight: bold;
            font-size: 14px;
            line-height: 60%;
            letter-spacing: 0.05em;
            color: #313131;
        }
        img {
            height: 12px;
            margin-left: 10px;
        }       
    }
    .main__description  {
        display: flex;
        width: 100%;
        flex-direction: column;
        .main__description-container {
            display: flex;
            flex-direction: column;
            width: 100%;
        
            .main__description-item {
                display: flex;
                align-items: center;
                margin-top: 20px;
                
                
                h4 {
                    font-family: Cormorant Unicase;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 25px;
                    line-height: 70%;
                    color: rgba(49, 49, 49, 0.8);
                    margin: 0;
                    
                }
                img {
                    height: 14px;
                    margin-left: 10px;
                }
            }
            .main__description-text {
                font-family: Cormorant Unicase;
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                
            }
        }
    } 
    .images {
        width: 50%;
        margin-left: 67px;
            &__content {
            display: flex;
            flex-direction: column;
            align-items: center;

            img {
                width: 100%;
                margin: 60px;
            }
        }
    }
}
.like {
    width: 60%;
    margin: 0 auto;
    margin-top: 60px;

    &__title {
    font-family: Rubik;
    font-style: normal;
    font-weight: bold;
    text-align: center;
    font-size: 30px;
    line-height: 90%;
    letter-spacing: 0.2em;
    color: rgba(49, 49, 49, 0.8);
    }

    &__container {
        display: flex;
        justify-content: space-between;
        margin-top: 60px;
        
    }
}
    .left {
        display: block;
    }
@media (max-width:768px) {
    .images {
        display: none;
    }
    .main__pic {
        display: block;
        margin: 0 auto;
        margin-top: 30px;
        width: 100%;
        position: relative;
        
        
    }
    .main {
        justify-content: center;
        width: 100%;
    }
    .container-card {
        width: 90%;
    }
    .main__charbox {
        width: 100%;
        justify-content: center;
    }
    .like__item {
        img {
            width: 100%;
        }
        width: 80%;
    }
    .like__item-hide {
        display: none;
    }
    .like__title {
        font-size: 18px;
    }
    .like__container{
        justify-content: center;
    }
    .main__plate {
        width: 90%;
        margin: 30 auto;
    }
    .main__plate-text {
        font-size: 16px;
    }
    .main__size-container {
        display: none;
    }
    .main__buy-button {
        max-width: 90%;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }

    .main__color {
        width: 90%;
        // ????????????????????????
    }
    .main__color-pick {
        max-width: 70%;
        width: 90%;
        // ??????????????????????????
    }
}